html
  head
    link(rel='stylesheet', href='/bootstrap.min.css', type='text/css')
    style 
      include ./menu.css 
  body 
    img(src=`${dir}/${namefile}`, alt="", srcset="")
    br
    div.button
      a.btn.btn-success(href=`/menu?filename=${encodeURIComponent(namefile)}&category=${category}&level=positive`) Ảnh tốt
      a.btn.btn-secondary(href=`/menu?filename=${encodeURIComponent(namefile)}&category=${category}&level=neutral`) Ảnh bình thường
      a.btn.btn-danger(href=`/menu?filename=${encodeURIComponent(namefile)}&category=${category}&level=negative`) Ảnh xấu
      a.btn.btn-dark(href=`/menu?filename=${encodeURIComponent(namefile)}&category=${category}&level=delete`) Xóa vì không đúng chủ đề
    //- ul
    //-   each meal in meals
    //-     li #{meal.name} price: #{meal.price}